.weather-info{
    &__input{
        display: flex;
        justify-content: space-between;
        border-bottom: 0.2rem #ffffff solid;
        padding: 0.2rem 0.5rem;
    
        & svg{
            cursor: pointer;
            width: 1.2rem;
            height: 1.2rem;
        }
    }
}


.search-box{
    outline: none;
    width: 100%;
    border: none;
    background: transparent;
    color: #ffffff;

    &::placeholder{
        color: #ffffff;
        opacity: 1;
    }
}