main{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.weather{

    &-info{
        padding: 2.5rem;
        background: rgba(0,0,0,0.6);
        border-radius: 2rem;
        max-width: 25rem;

        &__unit{
            cursor: pointer;
        }

        &__error{
            color: #FF0000;
            font-size: 1.2rem;
            margin: 1rem 0;
        }

        &__city{
            font-size: 1rem;
            margin: 1rem 0;
        }

        &__desc{
            font-size: 2rem;
            margin: 1rem 0;
        }

        &__temp{
            font-size: 2.5rem;
            margin: 1rem 0;
        }

        &__icon{

            margin-top: 1rem;
            margin-bottom: 1rem;

            & svg{
                width: 5rem;
                height: 5rem;

                & *{
                    fill: #ffffff;
                }
            }
        }
    }

    &-details{

        padding: 1rem;
        display: flex;
        align-items: center;

        &-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 2.5rem;
            background: rgba(0,0,0,0.6);
            border-radius: 2rem;
        }
        
        &__icon{
            
            & svg{
                width: 3rem;
                height: 3rem;
            }
        }

        &__title{
            font-size: 0.8rem;
        }

        &__value{
            font-size: 1.5rem;
        }

        &__info{
            margin-left: 1rem;
        }
    }
}

#fog{

    & path{
        fill: none!important;
        stroke: #ffffff!important;
    }
    
}

.forecast{

    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.6);
    padding: 2.5rem;
    border-radius: 2rem;

    &-daily{
        display: flex;
        flex-direction: column;
        align-items: start;

        &__icon{
            margin: 1rem 0;
            & svg{
                width: 3rem;
                height: 3rem;

                & *{
                    fill: #ffffff;
                }
                
                
            }
        }

        &__temp{
            display: flex;
            flex-direction: column;

            &-high{
                font-size: 1.5rem;
            }

            &-low{
                font-size: 0.8rem;
            }
        }
    }

    
}

@media (max-width: 1000px){
    html{
        font-size: 14px;
    }
}

@media (max-width: 865px){
    html{
        font-size: 12px;
    }
}

@media (max-width: 650px){
    html{
        font-size: 10px;
    }

    .forecast{

        flex-direction: column;

        &-daily{
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            &__temp{
                align-items: end;
            }
        }
    }
}

@media (max-width: 540px){
    html{
        font-size: 8px;
    }

    body{
        padding: 2rem;
    }

    .weather{
        &-info{
            padding: 1.5rem;
            max-width: 45%;
        }

        &-details-container{
            padding: 1.5rem;
            max-width: 45%;
        }
        
    }
}